.login-box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card {
    width: 300px;
    padding: 5%;
    height: 50%;
    
}

.light-theme {
    background-color: #ffffff;
}

.dark-theme {
    background-color: #030712;
}