<!--  <mat-toolbar-row>
        <span class="example-spacer"></span>

    </mat-toolbar-row> -->



<mat-drawer-container [ngClass]="(currentTheme$ | async)">

    <mat-drawer [ngClass]="(currentTheme$ | async)" mode="side" opened>
        <div class="container">
            <h2 class="header-with-icon">Premium Materials</h2>
            <span class="example-spacer"></span>
            @if ((currentTheme$ | async) === 'dark-theme') {
            <img (click)="toggleTheme()" class="theme"
                src="https://raw.githubusercontent.com/talohana/angular-dark-mode/master/src/assets/moon.svg" />
            } @else {
            <img class="theme" (click)="toggleTheme()"
                src="https://raw.githubusercontent.com/talohana/angular-dark-mode/master/src/assets/sun.svg" />
            }

        </div>

        <mat-nav-list [ngClass]="(currentTheme$ | async)">
            <mat-list-item>
                <mat-icon mat-list-icon>person</mat-icon>
                <h4>PROYECTS</h4>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>assignment</mat-icon>
                <h4>ABOUT</h4>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>domain</mat-icon>
                <h4>CONTACT</h4>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>folder_shared</mat-icon>
                <h4>LINKEDIN</h4>
            </mat-list-item>
            <mat-list-item (click)="logout()">
                <mat-icon mat-list-icon>folder_shared</mat-icon>
                <h4>LOGOUT</h4>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>

        <img class="header"
            src="https://imagenes.elpais.com/resizer/v2/LQ4T7MDHCZG4NORABVV72NS6ZM.jpg?auth=fa883a1c71cfbaa33c3e7f5a515532f171f4600639a2f46cebeac849e6b75e7b&width=1200"
            alt="Texto alternativo" width="500" height="60">
        <div class="outer">
            <div class="inner">I'm always centered<br />doesn't matter how much text, height or width i have.<br />The
                dimensions or my parent are irrelevant as well</div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>