@import '../../styles/variables';

.example-spacer {
  flex: 1 1 auto;
}

.light-theme {
     background-image: linear-gradient(to bottom right, $light-theme-secondary-color, $light-theme-primary-color);
}

.light-theme h4 {
  color: $light-theme-tertiary-color;
  font-family: 'SaturdayFont', sans-serif;
  font-size: 10vh;
}

.dark-theme {
  background-color: $dark-theme-primary-color;
}

.dark-theme h4 {
  color: $dark-theme-tertiary-color !important;
  font-family: 'SaturdayFont', sans-serif;
  font-size: 10vh;
}

.logout-icon-light {
  color: gray;
  transform: scale(1.5);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logout-icon-light:hover {
  color: gray;
  transform: scale(2);
}

.logout-icon {
  color: #B6F487;
  transform: scale(1.5);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logout-icon:hover {
  color: #B6F487;
  transform: scale(2);
}

.container {
  display: flex;
  height: 10vh;
}

.centered-line-dark {
  width: 50%;
  margin-left: 3%;
  margin-right: auto;
  height: 2px;
  background-color: $dark-theme-fifth-color;
  border: none; /* Remove default border if adding background color */
}

.centered-line-light {
  width: 50%;
  margin-left: 3%;
  margin-right: auto;
  height: 2px;
  background-color: $light-theme-tertiary-color;
  border: none; 
}

.header-with-icon {
    margin: 3%;
    background-image: url('../../assets/images/angular-icon.png'); /* Set the icon as a background image */
    background-repeat: no-repeat;
    color: transparent;
    background-position: left top; /* Position the icon to the left and vertically centered */
    padding-left: 30px; /* Add padding to make space for the icon */
    background-size: 30px 30px; /* Adjust the icon size */
    font-size: 22px;
    line-height: 1.5; /* Helps with vertical alignment if needed */
}


.icon-img-theme {
  width: 40px;
  height: 40px;
  margin: 3%;
  cursor: pointer;
}

// card sidenav profile
.example-header-image-light {
  background-image: url('https://raw.githubusercontent.com/emeery/jerry-last/refs/heads/master/src/app/assets/images/avatar.jpeg');
  background-size: cover;
}

//light theme styles mat card
.light-theme .example-card {
  max-width: 400px;
  margin: 2%;
  border: none;
  background: $light-theme-tertiary-color;
}

.light-theme .title {
  color: $light-theme-fourth-color;
  font-family: 'WelcomeDarling', sans-serif;
  font-size: 3vw;
  
}

.light-theme .subtitle {
  color: $light-theme-fourth-color;
  font-family: 'WelcomeDarling', sans-serif;
  font-size: 1.5vw;
}

//dark theme styles mat card
.example-header-image-light {
  background-image: url('https://raw.githubusercontent.com/emeery/jerry-last/refs/heads/master/src/app/assets/images/avatar.jpeg');
  background-size: cover;
}

.dark-theme .example-card {
  max-width: 400px;
  margin: 2%;
  border: none;
  background: $dark-theme-primary-color;
  border-color: 2px solid rebeccapurple;
}

.dark-theme .title {
  color: $dark-theme-fourth-color;
  font-family: 'WelcomeDarling', sans-serif;
  font-size: 3vw;
  
}

.dark-theme .subtitle {
  color: $dark-theme-fourth-color;
  font-family: 'WelcomeDarling', sans-serif;
  font-size: 1.5vw;
}


//container mat-sdrawer-content
.header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}

.outer {
    position: relative;
    margin: 5%;
    width: 80%;
    height: 500px;
    border: 1px solid red;
}

.inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    text-align: center;
    border: 1px solid blue;
}