@import '../../styles/variables';

.header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}

.example-spacer {
  flex: 1 1 auto;
}

.light-theme {
     background-image: linear-gradient(to bottom right, $light-theme-secondary-color, $light-theme-primary-color);
}

.light-theme h4 {
  color: $light-theme-tertiary-color;
  font-family: 'SaturdayFont', sans-serif;
  font-size: 10vh;
}

.dark-theme {
    background-color: $dark-theme-primary-color;
}

.dark-theme h4 {
  color: $dark-theme-tertiary-color !important;
  font-family: 'SaturdayFont', sans-serif;
  font-size: 10vh;
}

.logout-icon-light {
  color: gray;
  transform: scale(1.5);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logout-icon-light:hover {
  color: gray;
  transform: scale(2);
}

.logout-icon {
  color: #B6F487;
  transform: scale(1.5);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logout-icon:hover {
  color: #B6F487;
  transform: scale(2);
}

.container {
  display: flex;
  height: 10vh;
}

.centered-line-dark {
  width: 50%;
  margin-left: 3%;
  margin-right: auto;
  /* Optional: customize appearance */
  height: 2px;
  background-color: $dark-theme-tertiary-color;
  border: none; /* Remove default border if adding background color */
}

.centered-line-light {
  width: 50%;
  margin-left: 3%;
  margin-right: auto;
  /* Optional: customize appearance */
  height: 2px;
  background-color: $light-theme-tertiary-color;
  border: none; /* Remove default border if adding background color */
}

.header-with-icon {
    margin: 3%;
    background-image: url('../../assets/images/angular-icon.png'); /* Set the icon as a background image */
    background-repeat: no-repeat;
    color: transparent;
    background-position: left top; /* Position the icon to the left and vertically centered */
    padding-left: 30px; /* Add padding to make space for the icon */
    background-size: 30px 30px; /* Adjust the icon size */
    /* Other styling */
    font-size: 22px;
    line-height: 1.5; /* Helps with vertical alignment if needed */
}

.example-icon {
  margin: 3%;
  color: rosybrown;
}



.icon-img{
  width: 40px;
  height: 40px;
  margin: 3%;
  cursor: pointer;
}

.example-card {
  max-width: 400px;
  border: none;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.outer {
    position: relative;
    margin: 5%;
    width: 80%;
    height: 500px;
    border: 1px solid red;
}

.inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    /* unnecessary styling properties */
    max-width: 50%;
    text-align: center;
    border: 1px solid blue;
}