<mat-toolbar [ngClass]="(currentTheme$ | async)">
    <mat-toolbar-row>
        @if ((currentTheme$ | async) === 'dark-theme') {
        <mat-icon class="icon-display">bubble_chart</mat-icon>
        } @else {
            <!-- <mat-icon class="icon-display-sun">bubble_chart</mat-icon> -->
        }

        <span class="example-spacer"></span>
        @if ((currentTheme$ | async) === 'dark-theme') {
        <button (click)="toggleTheme()"> <img
                src="https://raw.githubusercontent.com/talohana/angular-dark-mode/master/src/assets/moon.svg" /></button>
        }
        @else {
        <img (click)="toggleTheme()"
            src="https://raw.githubusercontent.com/talohana/angular-dark-mode/master/src/assets/sun.svg" />
        }
    </mat-toolbar-row>
</mat-toolbar>