.example-spacer {
  flex: 1 1 auto;
}

.icon-display {
   transform: scale(2);
}

.dark-theme {
  background-color: #030712;
}

img {
  cursor: pointer;
}

/* .toggle {
  display: none;
}

.toggle-label {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
} */


