/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* body {
  --text-color: #222;
  --background-color: #fff;
} */

body.light-theme {
  --text-color: #fff;
  --background-color: #e43434;
}


body.dark-theme {
  --text-color: #fff;
  --background-color: #222;
}

body {
  background: var(--background-color);
}

h1,
p {
  color: var(--text-color);
}

button {
  border: none;
  background-color: transparent;
  font-size: 50px;
}
