/* global styles to this file, and also import other style files */
@import './app/styles/variables';

@font-face {
  font-family: 'SaturdayFont'; /* Name your font family */
  src: url('/assets/fonts/Saturday_Farmhouse.otf') format('opentype');
}

@font-face {
  font-family: 'WelcomeDarling'; /* Name your font family */
  src: url('/assets/fonts/Welcome_Darling.otf') format('opentype');
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.light-theme {
  --bg-color: #ffffff;
  --text-color: #000000;
}

body.dark-theme {
  --text-color: #fff;
  --background-color: $primary-color;
}

button {
  border: none;
  background-color: transparent;
  font-size: 50px;
}