/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.light-theme {
  --bg-color: #ffffff;
  --text-color: #000000;
}

body.dark-theme {
  --text-color: #fff;
  --background-color: #030712;
}

body {
  background: var(--background-color);
}

h1,
p {
  color: var(--text-color);
}

button {
  border: none;
  background-color: transparent;
  font-size: 50px;
}