.example-spacer {
  flex: 1 1 auto;
}

.icon-display {
  transform: scale(2);
  color: #FFCE71;
}

.icon-display-sun {
  transform: scale(2);
  color: #0F172B;
}

.dark-theme {
  background-color: #030712;
}

.logout-icon-light {
  color: gray;
  transform: scale(1.5);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logout-icon-light:hover {
  color: gray;
  transform: scale(2);
}

.logout-icon {
  color: darkgrey;
  transform: scale(1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logout-icon:hover {
  color: #B6F487;
  transform: scale(1.4);
}

img {
  cursor: pointer;
  width: 10%;
}


/* .sun {
  cursor: pointer;
  width: 20%;
}

.sun {
  cursor: pointer;
  width: 30%;
} */